{% assign interests = data[1] %}
{% assign interests_size = interests.size %}
{% assign half_size = interests_size | divided_by: 2 %}
{% if interests_size | modulo: 2 != 0 %}
  {% assign half_size = half_size | plus: 1 %}
{% endif %}

<div class="row">
  <div class="col-md-6">
    <table class="table table-cv table-sm table-borderless table-responsive">
      <tbody>
        {% for interest in interests limit: half_size %}
        <tr>
          <td class="p-1 pr-2 font-weight-bold text-theme"><b>{{ interest.name }}</b></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-cv table-sm table-borderless table-responsive">
      <tbody>
        {% for interest in interests offset: half_size %}
        <tr>
          <td class="p-1 pr-2 font-weight-bold text-theme"><b>{{ interest.name }}</b></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>